body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    /* text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5); */
}

.navbar-light .navbar-brand {
    color: #fff;
    
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: medium;
}

.navbar-light{
    background-color: white;
}

.navbar-light .navbar-brand img{
    width: 200px;
}

.navbar-BG1 {
    background-color: rgba(0, 0, 0, 0.1);
}

.navbar-BG2 {
    background-color: rgba(0, 0, 0, 0.15);
}

.navbar-BG3 {
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar-BG4 {
    background-color: white;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #1f434e;
}

.navbar-light .navbar-nav .nav-link {
    color: #1f434e;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: gold;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 28px;
    line-height: 0.3;
    background: #fff;
}

/*  carousel      */

.carousel-item {
    height: 100vh;
    min-height: 300px;
}

.bg-1 {
    background-image: url(camera_photographer_smoke_126548_3840x2160.jpg);
}

.bg-2 {
    background-image: url(tree-2976739_1280.jpg);
}

.bg-3 {
    background-image: url(wallpp.jpg);
}

.bg-4 {
    background-image: url(dark-desktop.jpg);
}

.bg-1,
.bg-2,
.bg-3,
.bg-4 {
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption {
    bottom: 220px;
    z-index: 2;
}

.carousel-caption h5 {
    font-size: 85px;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-top: 25px;
    font-family: 'Moon Dance', cursive;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

.carousel-caption a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}

.carousel-inner:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.carousel-indicators {
    bottom: 65px;
}

.carousel-indicators button {
    width: 20px !important;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-nav {
        text-align: center;
    }

    .navbar-collapse {
        background: #fff;
    }

    .navbar-collapse .nav-item .nav-link {
        color: #1f434e;
    }

    .carousel-caption {
        bottom: 350px;
    }

    .carousel-caption h5 {
        font-size: 65px;
    }

    .carousel-caption p {
        font-size: 18px;
        width: 100%;
    }
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        text-align: right;
    }

    .navbar-collapse .nav-item .nav-link {
        color: #1f434e;
    }

    .carousel-caption {
        bottom: 165px;
    }

    .carousel-caption h5 {
        font-size: 25px;
    }

    .carousel-caption p {
        font-size: 12px;
        width: 100%;
    }

    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }

    .navbar-collapse {
        background: transparent;
    }
}


@media only screen and (max-width: 600px) {
    .tours{
        height: fit-content;
    }
}
.tours {
    background-color: #fff;
    height: 100vh;
    width: 100%;
    margin-bottom: 0;
}

.tour_title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #367588;
    text-align: center;
    height: 10vh;
    padding: 25px;
}
.line{
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 0;
    color: #1f434e;
    border: 2px solid #1f434e;
}


.gallery {
    background-color: rgb(232, 239, 187);
    height: 100vh;
    width: 100%;
}

.gallery_title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #1f434e;
    text-align: center;
    padding: 25px;
}

.gallery_content {
    /* border: 3px solid gold; */
    display: flex;
    min-height: fit-content;
    margin: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 24vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.gallery_content ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gallery_content ul li img{
    width: 290px;
    margin: 10px;
    padding: 0px;
    margin-top:30px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.more_pic{
    font-size: larger;
    text-align: center;
    color: #1f434e;
    font-weight: bolder;
    text-transform: uppercase;
}

.more_pic a{
    color: red;
    text-decoration: none;
}

.gallery_content .pic_slider{
    width: 300px;
    /* margin: 100px auto 0; */
    overflow: visible;
}

.pic_slider img{
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.3));
}

.cards {
    /* border: 3px solid gold; */
    display: flex;
    min-height: calc(100vh - 125px);
    margin: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: -20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.cards a>.card {
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 5px solid #367588;
    margin: 20px;
    background-color: #367588;
}

.cards a{
    text-decoration: none;
    cursor: pointer;
}

.card img {
    /* margin-left: 2rem;
    margin-top: 2rem; */
    height: 20vh;
    width: 20vh;
    border-radius: 9px;

}

.card>.label {
    background-color: #367588;
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #afe5e0;
    padding: 5px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: x-large;
}

/* .card h1 {
    margin-top: 5.2rem;
    margin-left: 4.5rem;
    color: rgb(148, 113, 15);
} */

.box {
    padding: 0;
    margin: 0;
}

@media(max-width:576px) {
    .box {
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column-reverse;
    }

}

.drop-menu{
    list-style: none;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    background-color: aquamarine;
    opacity: 10;
    visibility: hidden;
}
.drop-menu li{
    background-color: aquamarine;
    padding: 10px;
    text-align: left;
}

.drop-menu a{
    text-decoration: none;
    
    color: white;
}


.drop-menu a:hover{
    color: gold;
}

.drop-hover:hover > ul{
    visibility: visible;
    transition: .9s linear;
    /* margin-top: 5px; */
}